html, body {
  background-image: url("../images/nfl_background.jpg");
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
}

.jumbotron {
	margin: 20px 0px 10px 0px;
  background-color: black;
  color: white;
}

/* Optional: Makes the sample page fill the window. */


#bar-chart {
  background-color: #000000;
  padding: 20px;
  margin: 10px 0px 10px 0px;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 360px;
  overflow: auto;
  margin: 10px 0px 10px 0px;
}

#team-info {
  height: 360px;
  margin: 10px 0px 10px 0px;
  background-color: #000000;
  color: gray;
  padding: 40px;
  font-size: 16px;
}

.glyphicon-heart {
  font-size: 36px;
}

.team-name {
  font-size: 24px;
  color: #ffffff;
}